[submodule "deps/min-api"]
	path = deps/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "deps/bbb-osc"]
	path = deps/bbb-osc
	url = https://github.com/2bbb/bbb-osc.git
[submodule ".agents/skills/max-external"]
	path = .agents/skills/max-external
	url = git@github.com:2bbb/max-external.git
[submodule ".agents/skills/max-patgen"]
	path = .agents/skills/max-patgen
	url = git@github.com:2bbb/max-patgen.git
[submodule ".agents/skills/max-external-githubactions"]
	path = .agents/skills/max-external-githubactions
	url = git@github.com:2bbb/max-external-githubactions.git
